/* FULL WIDTH CHO DJANGO ADMIN + JAZZMIN */

.content, 
.content-wrapper, 
#content {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 20px !important;
    box-shadow: none !important;
}

#jazzy-content,
.jazzy-content {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
}
